softgym/cached_initial_states
softgym/cached_initial_states/*
softgym/envs/corl_cached_state_backup
data
!PyFlexRobotics/data/
__pycache__/
.idea
PyFlex/demo/compiler/makelinux64/.deps
PyFlex/demo/compiler/makelinux64/build
PyFlex/examples/build
PyFlex/examples/cmake-build-debug
PyFlex/bindings/cmake-build-debug
PyFlex/bindings/build
*.swp
*.swo
*.swn

PyFlex/bindings/examples/tmp
PyFlex/bindings/examples/*.avi
PyFlex/bindings/examples/*/
PyFlex/bindings/examples/*.gif

build/


# Daniel stuff
*.pkl
softgym_files/
.vscode/
data_archived/
data_demo*
PyFlexRobotics/data/bowl.pfm
*.gif
*.prof
*.txt
tmp_folder/
wandb/
dummy_data
fig_*
rollouts/

# For now...
PyFlexRobotics/data/bl_tool_rad_1.0_zthresh_0.3_numV_36870_subsurf_solidify_stick.pfm
PyFlexRobotics/data/bl_tool_rad_1.0_zthresh_0.3_numV_36870_subsurf_solidify_stick.obj

massif*
*.html

